<section class="body">
    <div class="head">
        <mat-card class="header">
            <mat-card-content class="heading">
                <div>
                    <img src="http://static1.squarespace.com/static/61013e1f8b0c8e0cd83e6fb5/t/615c7daaa2e2f62fdf11f000/1633451434652/logo+png+%281%29.png?format=1500w" class="img"/>
                </div>
                <div>
                    <mat-toolbar-row>
                        <button mat-raised-button style="background:rgb(95, 71, 117);color:white" class="nav" (click)="goToTeacher('teachers')"><mat-icon class="icon">home</mat-icon>Home</button>
                        <button mat-raised-button style="background:rgb(95, 71, 117);color:white" class="nav" (click)="goToExam('exams')"><mat-icon class="icon">library_books</mat-icon>Exams</button>
                        <button mat-raised-button style="background:rgb(95, 71, 117);color:white" class="nav" (click)="goToAssignment('assignments')"><mat-icon class="icon">book</mat-icon>Assignments</button>
                        <button mat-raised-button style="background:rgb(95, 71, 117);color:white" class="nav" (click)="goToReport('reports')"><mat-icon class="icon"> show_chart</mat-icon>Reports</button>
                        
                    </mat-toolbar-row>
                </div>
            
            </mat-card-content>
        </mat-card>
    
    </div>
</section>




